* {
    font-family: sans-serif;
}

body {
    height: 100vh;
    margin: 0px;
}

#container div {
    margin: 0px;
    padding: 15px;
}

#container {
    display: grid;
    height: 100vh;
    overflow: hidden;
    grid-template-columns: minmax(300px, 20%) 1fr;
    grid-template-rows: 220px 1fr;
    grid-template-areas:
        'sidebar header'
        'sidebar main-content'

}

#header {
    background-color: whitesmoke;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    grid-area: header;
    display: grid;
    grid-template-columns: 60% 40%;
    overflow: visible;
    grid-gap: 25px;
    grid-template-areas: 
        'header-left header-right';
    
}

#header-left {
    grid-column: 1 / 2;
    grid-area: header-left;
    display: grid;
    grid-template-rows: 20px 100px;
    padding: 0px !important;
    align-items: start;
    
}

#header-left-top {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 50px 1fr;

}

#header-left-top img {
    align-self: center;
}

#header-left-bottom {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 120px 1fr;
    align-items: center;
}

#header-left-bottom #profile-pic-big {
    grid-column: 1 / 2;
}

#greeting-user {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 30px 100px;
    position: relative;
    top: 10px;
    
}

#greeting-user h4 {
    grid-row: 1 / 2;
    align-self: start;
    padding-top: 10px;
}

#greeting-user h1 {
    grid-row: 2 / 3;
    align-self: start;
}

#header-right {
    grid-column: 2 / 3;
    grid-area: header-right;
    display: grid;
    grid-template-rows: 20px 100px;
    grid-gap: 40px;
    align-items: center;
}

#header-right-top {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 50px 1fr;
    position: relative;
    top: 10px;
    grid-gap: 20px;
    
}

#notifications-button {
    align-self: end;
    height: 50px;
    width: 50px;
    justify-self: end;
}

#user-name {
    align-self: end;
    justify-self: center;
    margin: auto;
}

#header-right-bottom {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: end;
}

#header-right-bottom button {
    background-color: blue;
    border-radius: 8px;
    height: 50px;
    width: 70px;
}

#sidebar {
    background-color: rgb(29, 144, 216);
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, auto);
    justify-content: start;
}

#sidebar ul {
    padding-left: 15px;
}

#sidebar ul li a {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-gap: 10px;
    align-items: center;
    
    
}

#sidebar ul li a:hover {
    background-color: ligthskyblue;
}

#sidebar ul li a img {
    justify-self: end;
    
}

.small-button {
    height: 70%;
    width: 70%;
}

#sidebar ul li a h3 {
    
}

#dashboard-logo {
    height: 100% !important;
    width: 100% !important;
    padding-left: 0px !important;
}

.blue {
    color: white;
}

.blue > a:active, a:visited, a {
    color: white;
    text-decoration: white;}

ul {
    list-style: none;
}

#main-content {
    background-color: lightgray;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-area: main-content;
}